@model FamilyTreeNet.ViewModels.IndividualVm

@if (Model != null)
{
    <span>
        @if (Model.IsMale)
        {
            <span class="symbol">👨</span>
        }
        @if (Model.IsFemale)
        {
            <span class="symbol">👩</span>
        }
        <text>@Model.Firstnames</text>
        <span class="lastname">@Model.Lastname</span>
        <a asp-page="ShowPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="show">🔎</a>
        <a asp-page="EditPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="edit">✏</a>
        <a asp-page="DeletePerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="delete">🗑</a>
        @if (Model.DiedAtBirth)
        {
            // stillborn or died right after birth
            <text>, </text><span class="symbol">✤&dagger;</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")
        }
        else
        { 
            if (Model.BirthDataKnown)
            {
                <text>, </text><span class="symbol">✤</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")
            }
            if (Model.DeathDataKnown)
            {
                <text>, </text><span class="symbol">&dagger;</span> @($"{Model.DeathDateFmt} {Model.DeathPlace}")
            }
        }
    </span>
}
