@model FamilyTreeNet.ViewModels.IndividualVm

@if (Model != null)
{
    <div class="@Model.Css">
        <p>
            @if (Model.IsMale)
            {
                <span class="symbol">👨</span>
            }
            else if (Model.IsFemale)
            {
                <span class="symbol">👩</span>
            }
            <span>@Model.Firstnames</span>
            <span class="lastname">@Model.Lastname</span>
            <a asp-page="ShowPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="show">🔎</a>
            <a asp-page="EditPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="edit">✏</a>
            <a asp-page="DeletePerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="delete">🗑</a>
        </p>
        @if (Model.DiedAtBirth)
        {
            <p><span class="symbol">✤&dagger;</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")</p>
        }
        else
        {
            if (Model.BirthDataKnown)
            {
                <p><span class="symbol">✤</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")</p>
            }
            if (Model.DeathDataKnown)
            {
                <p><span class="symbol">&dagger;</span> @($"{Model.DeathDateFmt} {Model.DeathPlace}")</p>
            }
        }
    </div>
}