@model FamilyTreeNet.ViewModels.IndividualVm

@if (Model != null)
{
    <div class="@Model.Css">
        <p>
            @if (Model.IsMale)
            {
                <span>👨</span>
            }
            else if (Model.IsFemale)
            {
                <span>👩</span>
            }
            <span>@Model.Firstnames</span>
            <span class="lastname">@Model.Lastname</span>
            <a asp-page="ShowPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="show">🔎</a>
            <a asp-page="EditPerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="edit">✏</a>
            <a asp-page="DeletePerson" asp-route-id="@Model.Id" asp-route-primary="@Model.PrimaryId" title="delete">🗑</a>
        </p>
        @if (Model.DiedAtBirth)
        {
            <p>✤&dagger; @($"{Model.BirthDateFmt} {Model.BirthPlace}")</p>
        }
        else
        {
            if (Model.BirthDataKnown)
            {
                <p>✤ @($"{Model.BirthDateFmt} {Model.BirthPlace}")</p>
            }
            if (Model.DeathDataKnown)
            {
                <p>&dagger; @($"{Model.DeathDateFmt} {Model.DeathPlace}")</p>
            }
        }
    </div>
}