@model FamilyTreeNet.ViewModels.IndividualVm

@if (Model != null)
{
    <div class="@Model.Css">
        <p>
            <a asp-page="Person" asp-route-id="@Model.Id">
                <span th:text="${person.firstNames}">@Model.Firstnames</span>
                <span class="lastname">@Model.Lastname</span>
            </a>
            @if (Model.IsMale)
            {
                <span class="symbol">&male;</span>
            }
            else if (Model.IsFemale)
            {
                <span class="symbol">&female;</span>
            }
        </p>
        @if (Model.DiedAtBirth)
        {
            <p><span class="symbol">✤&dagger;</span> <span>@Model.BirthDateFmt</span> <span>@Model.BirthPlace</span></p>
        }
        else
        {
            if (Model.BirthDataKnown)
            {
                <p><span class="symbol">✤</span> <span>@Model.BirthDateFmt</span> <span>@Model.BirthPlace</span></p>
            }
            if (Model.DeathDataKnown)
            {
                <p><span class="symbol">&dagger;</span> <span>@Model.DeathDateFmt</span> <span>@Model.DeathPlace</span></p>
            }
        }
    </div>
}