@model FamilyTreeNet.ViewModels.IndividualVm

@if (Model != null)
{
    <span>
        <a asp-page="Person" asp-route-id="@Model.Id">
            <span>@Model.Firstnames</span>
            <span class="lastname">@Model.Lastname</span>
        </a>
        @if (Model.IsMale)
        {
            <span class="symbol">&male;</span>
        }
        else if (Model.IsFemale)
        {
            <span class="symbol">&female;</span>
        }
        @if (Model.DiedAtBirth)
        {
            <text>, </text><span class="symbol">✤&dagger;</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")
        }
        else
        {
            if (Model.BirthDataKnown)
            {
                <text>, </text><span class="symbol">✤</span> @($"{Model.BirthDateFmt} {Model.BirthPlace}")
            }
            if (Model.DeathDataKnown)
            {
                <text>, </text><span class="symbol">&dagger;</span> @($"{Model.DeathDateFmt} {Model.DeathPlace}")
            }
        }
    </span>
}
