@page "{name}"
@model FamilyTreeNet.Pages.Reports.FamilyModel
@{
    ViewData["Title"] = "Family";
}

<h1>Family <q><span class="name">@Model.Lastname</span></q></h1>

<p><a asp-page="FamilyNames">Back to overview</a></p>
<div>
    <div class="persons">
        @foreach (var person in Model.Individuals)
        {
            <div>
                <p>
                    <a asp-page="Person" asp-route-id="@person.Id">@person.Firstnames</a>
                    @if (person.IsMale)
                    {
                        <span class="symbol">&male;</span>
                    }
                    @if (person.IsFemale)
                    {
                        <span class="symbol">&female;</span>
                    }
                </p>
                @if (person.BirthDate != null)
                {
                    <p><span class="symbol">✤</span> <span>@person.BirthDateFmt</span> <span>@person.BirthPlace</span></p>
                }
                @if (person.DeathDate != null)
                {
                    <p><span class="symbol">&dagger;</span> <span>@person.DeathDateFmt</span> <span>@person.DeathPlace</span></p>
                }
            </div>
        }
    </div>
</div>

<p><a asp-page="FamilyNames">Back to overview</a></p>
